<div class="placeRow"
  fxLayout="row"
  fxLayoutGap="0.5%">
  <div fxFlex="2%">
    {{id}}
  </div>
  <div fxFlex="10%">
    {{place.name}}
  </div>
  <div fxFlex="10%">
    {{place.address}}
  </div>
  <div fxFlex="58%">
    <div fxLayout="row">
      <div *ngFor="let hour of graphicHours; let i = index" [ngStyle]="hour"  ><span>{{hours[i]}}</span></div>
    </div>
  </div>
  <div fxFlex="10%">
    {{openHours}}
  </div>
  <div fxFlex="10%">
    O 13 godzinna przerwa obiadowa
  </div>

</div>
