<table class="table table-hover">

  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td><div class="zaznaczonyCzas" style="background-color: #4cae4c; width:{{dlugosc}}px; margin-left: {{poczatek}}px"></div></td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>
      <table class="przedzialy">
        <tr>
          <td ng-repeat="przedzial in przedzialy" style="background-color: #abdde5;" ></td>

        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
