<div class="jumbotron" class="backgrImage">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="start center" class="textPosition"  >
      <div >
        <i class="material-icons md-48">
          airport_shuttle
        </i>
      </div>
      <div  >
        <h1 class="display-3" style="font-family: Bookman; "> Planer</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
<app-new-place-form></app-new-place-form>

<app-place-header></app-place-header>


<app-place-body
  *ngFor="let place of places; let i = index"
  [setPlace]="place" [setId]="i"></app-place-body>

</div>
